* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
Nav,
section {
    display: block;
}

body {
    width: 100%;
    height: 100%;
    color: #1a1a1a;
    line-height: 1.5;
    font-family: sans-serif, "맑은 고딕";
    font-size: 14px;
    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media screen and (max-width: 830px) {
        padding-top: 0;
    }
}



table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
    font-family: inherit;
}

dd {
    -webkit-margin-start: 0;
}

ul {
    -webkit-padding-start: 0;
    list-style-position: inside;
}

ol,
ul,
li {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: inherit;
    text-decoration: none;
    background: transparent;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

b,
span {
    font-size: inherit;
    color: inherit;
}

br {
    line-height: inherit;
}